[Desktop Entry]
Exec=kcmshell4 kcmtagaro
Icon=games-config-custom

X-DocPath=libtagaro/index.html

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcmtagaro
X-KDE-ParentApp=kcontrol

# TODO: correct categorization
X-KDE-System-Settings-Parent-Category=system-administration

Name=KDE Games
Name[de]=KDE-Spiele
Name[es]=Juegos de KDE
Name[et]=KDE mängud
Name[fr]=Jeux KDE
Name[nds]=KDE-Spelen
Name[nl]=KDE-games
Name[pt]=Jogos do KDE
Name[pt_BR]=Jogos do KDE
Name[sv]=KDE:s spel
Name[uk]=Ігри KDE
Name[x-test]=xxKDE Gamesxx
Comment=Configure general behavior of KDE games
Comment[de]=Allgemeines Verhalten der KDE-Spiele festlegen
Comment[es]=Configurar el comportamiento general de los juegos de KDE
Comment[et]=KDE mängude üldise käitumise seadistamine
Comment[fr]=Configurer le comportement général des jeux KDE
Comment[nds]=Allgemeen Bedregen vun KDE-Spelen instellen
Comment[nl]=Algemeen gedrag van KDE-games instellen
Comment[pt]=Configurar o comportamento geral dos jogos do KDE
Comment[pt_BR]=Configura o comportamento geral dos jogos do KDE
Comment[sv]=Anpassa det allmänna beteendet hos KDE:s spel
Comment[uk]=Налаштування загальної поведінки ігор KDE
Comment[x-test]=xxConfigure general behavior of KDE gamesxx
X-KDE-Keywords=games,graphics,rendering,tagaro,libtagaro
Categories=Qt;KDE;X-KDE-settings-system;
