[Desktop Entry]
Exec=kcmshell4 kcmkdegames
Icon=games-config-custom

X-DocPath=libkgame/index.html

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcmkdegames
X-KDE-ParentApp=kcontrol

# TODO: correct categorization
X-KDE-System-Settings-Parent-Category=system-administration

Name=KDE Games
Name[bg]=Игри в KDE
Name[de]=KDE-Spiele
Name[es]=Juegos de KDE
Name[et]=KDE mängud
Name[fr]=Jeux KDE
Name[nb]=KDE – Spill
Name[nds]=KDE-Spelen
Name[nl]=KDE-games
Name[pt]=Jogos do KDE
Name[pt_BR]=Jogos do KDE
Name[sv]=KDE:s spel
Name[uk]=Ігри KDE
Name[x-test]=xxKDE Gamesxx
Name[zh_CN]=KDE 游戏
Name[zh_TW]=KDE 遊戲
Comment=Configure general behavior of KDE games
Comment[bg]=Настройка на общото поведение на игрите в KDE
Comment[de]=Allgemeines Verhalten der KDE-Spiele festlegen
Comment[es]=Configurar el comportamiento general de los juegos de KDE
Comment[et]=KDE mängude üldise käitumise seadistamine
Comment[fr]=Configurer le comportement général des jeux KDE
Comment[nb]=Tilpass generell oppførsel for KDE-spill
Comment[nds]=Allgemeen Bedregen vun KDE-Spelen instellen
Comment[nl]=Algemeen gedrag van KDE-games instellen
Comment[pt]=Configurar o comportamento geral dos jogos do KDE
Comment[pt_BR]=Configura o comportamento geral dos jogos do KDE
Comment[sv]=Anpassa det allmänna beteendet hos KDE:s spel
Comment[uk]=Налаштування загальної поведінки ігор KDE
Comment[x-test]=xxConfigure general behavior of KDE gamesxx
Comment[zh_CN]=配置 KDE 游戏的常规行为
Comment[zh_TW]=設定 KDE 遊戲的一般行為
X-KDE-Keywords=games,kdegames,graphics,rendering
Categories=Qt;KDE;X-KDE-settings-system;
