[Tagaro Theme]
Name=Example theme
Name[bg]=Примерна тема
Name[de]=Beispieldesign
Name[es]=Tema de ejemplo
Name[et]=Näidisteema
Name[fi]=Esimerkkiteema
Name[fr]=Thème d'exemple
Name[ga]=Téama samplach
Name[gl]=Tema de exemplo
Name[hu]=Példa téma
Name[km]=ឧទាហរណ៍​រូបរាង​
Name[nb]=Eksempeltema
Name[nl]=Voorbeeld thema
Name[pl]=Przykładowy motyw
Name[pt]=Tema de exemplo
Name[pt_BR]=Tema de exemplo
Name[sk]=Ukážková téma
Name[sl]=Primer teme
Name[sv]=Exempeltema
Name[uk]=Приклад теми
Name[x-test]=xxExample themexx
Name[zh_CN]=示例主题
Name[zh_TW]=範例主題
Description=Example theme
Description[bg]=Примерна тема
Description[de]=Beispieldesign
Description[es]=Tema de ejemplo
Description[et]=Näidisteema
Description[fi]=Esimerkkiteema
Description[fr]=Thème d'exemple
Description[ga]=Téama samplach
Description[hu]=Példa téma
Description[km]=ឧទាហរណ៍​រូបរាង​
Description[nb]=Eksempeltema
Description[nl]=Voorbeeld thema
Description[pl]=Przykładowy motyw
Description[pt]=Tema de exemplo
Description[pt_BR]=Tema de exemplo
Description[sk]=Ukážková téma
Description[sl]=Primer teme
Description[sv]=Exempeltema
Description[uk]=Приклад теми
Description[x-test]=xxExample themexx
Description[zh_CN]=示例主题
Description[zh_TW]=範例主題
Author=John Doe
AuthorEmail=john.doe@example.org

[Sources][default]
SourceType=image:example-imagesource.png
item1=64x64+0+0
item2=64x64+0+64
item3=64x64+64+0
item4=64x64+64+64
background=128x128+128+0
