[Tagaro Theme]
Name=Example theme
Name[de]=Beispieldesign
Name[es]=Tema de ejemplo
Name[et]=Näidisteema
Name[fr]=Thème d'exemple
Name[nb]=Eksempeltema
Name[nl]=Voorbeeld thema
Name[pt]=Tema de exemplo
Name[pt_BR]=Tema de exemplo
Name[sv]=Exempeltema
Name[uk]=Приклад теми
Name[x-test]=xxExample themexx
Name[zh_CN]=示例主题
Name[zh_TW]=範例主題
Description=Example theme
Description[de]=Beispieldesign
Description[es]=Tema de ejemplo
Description[et]=Näidisteema
Description[fr]=Thème d'exemple
Description[nb]=Eksempeltema
Description[nl]=Voorbeeld thema
Description[pt]=Tema de exemplo
Description[pt_BR]=Tema de exemplo
Description[sv]=Exempeltema
Description[uk]=Приклад теми
Description[x-test]=xxExample themexx
Description[zh_CN]=示例主题
Description[zh_TW]=範例主題
Author=John Doe
AuthorEmail=john.doe@example.org

[Sources][default]
SourceType=image:example-imagesource.png
item1=64x64+0+0
item2=64x64+0+64
item3=64x64+64+0
item4=64x64+64+64
background=128x128+128+0
